* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ff7772;
}
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(244, 201, 201);
}
ul {
    margin-left: 60px;
}
ul li {
    list-style: none;
    display: inline-block; /* puts it all on one line ?? */
    float: left; /* Puts text on left or right or center of screen */
    line-height: 50px;
}
ul li a {
    text-decoration: dashed;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #1e1e1e;
    padding: 0 20px; /* padding from the bar, padding from each text */
    position: relative; left: 0px; top: -53px;
}

ul li a:hover {
    transition: 0.4s;
    color: red;
    font-size: large;
}
h1 {
    position: relative; left: 40px;
}